<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>cometd</servlet-name>
        <servlet-class>org.cometd.annotation.AnnotationCometDServlet</servlet-class>
        <init-param>
            <param-name>ws.cometdURLMapping</param-name>
            <param-value>/comet/*</param-value>
        </init-param>
        <init-param>
            <param-name>transports</param-name>
            <param-value>org.cometd.websocket.server.WebSocketTransport</param-value>
        </init-param>
        <init-param>
            <param-name>maxSessionsPerBrowser</param-name>
            <param-value>10</param-value>
        </init-param>
        <init-param>
            <param-name>allowMultiSessionsNoBrowser</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>services</param-name>
            <param-value>
                fi.helsinki.cs.tmc.comet.GlobalChannelsService,
                fi.helsinki.cs.tmc.comet.UserChannelsService,
                fi.helsinki.cs.tmc.comet.PagePresenceService
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>publish</servlet-name>
        <servlet-class>fi.helsinki.cs.tmc.comet.PublishServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>publish</servlet-name>
        <url-pattern>/synchronous/publish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cometd</servlet-name>
        <url-pattern>/comet/*</url-pattern>
    </servlet-mapping>
    
    <listener>
        <listener-class>fi.helsinki.cs.tmc.comet.Initializer</listener-class>
    </listener>

    <filter>
        <filter-name>cross-origin</filter-name>
        <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cross-origin</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
